@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --color-light-shades: #F8F8F8;
  --color-light-accent: #8DB6D9;
  --color-primary: #4FB0D4;
  --color-dark-accent: #A48773;
  --color-dark-shades: #404652;

}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background: rgb(var(--background-end-rgb))
}

/* Apple iOS Devices */
/* @supports (-webkit-touch-callout: none) {
  body {
    height: --webkit-fill-available;
  }
}

@supports not (-webkit-touch-callout: none) {
  body {
    height: 100vh;
  }
} */

.custom {
  width: 100%;
  height: 100%;
  border: 1px solid black;

  text-align: center;
  font-size: 12rem;
}

.custom-inside {
  position: relative;
  width: 100%;
  height: 100%;
  top: inherit;
  left: inherit;
  right: inherit;
  bottom: inherit;

  transition:all;
  transition-duration: 500ms;

  border: 1px solid blue;
}

.custom-inside:active {
  z-index: 1;
  position: absolute;
  background:indianred;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}